---
export const prerender = true;

import Footer from "../../components/Footer.astro";
import NavMenu from "../../components/NavMenu";
import Layout from "../../layouts/Layout.astro";
import ShopDetailsArticle from "../../components/shop/details/ShopDetailsArticle";
import MdiChevronLeft from '~icons/mdi/chevron-left'

export async function getStaticPaths() {
  const { default: __products } = await import("../../data/products.yml");
  const products = __products as Array<ProductItem>

  return products.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { product } = Astro.props;
---
<Layout title={`${product.name} - Le SHOP de l'OEIL`} description={product.description}>
  <NavMenu client:load />
  <div class="mt-24">

    <ShopDetailsArticle
      product={product}
      client:only="solid-js"
    />
  </div>

  <Footer />
</Layout>
