---
export const prerender = true;

import Footer from "../../components/Footer.astro";
import NavMenu from "../../components/NavMenu";
import Layout from "../../layouts/Layout.astro";
import ShopDetailsArticle from "../../components/shop/details/ShopDetailsArticle";
import MdiChevronLeft from '~icons/mdi/chevron-left'

export async function getStaticPaths() {
  const { default: __products } = await import("../../data/products.yml");
  const products = __products as Array<ProductItem>

  return products.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { product } = Astro.props;
---
<Layout title="Le SHOP de l'OEIL">
  <div class="py-8 mt-24">
    <NavMenu client:load />

    <article class="px-8 container mx-auto flex flex-col">
      <a href="/shop" class="mb-8 flex items-center gap-2 w-fit hover:bg-black/5 focus:bg-black/8 px-4 py-2 -ml-4">
        <MdiChevronLeft />
        <p>Revenir à la page des produits</p>
      </a>

      <ShopDetailsArticle
        product={product}
        client:only="solid-js"
      />
    </article>
  </div>

  <Footer />
</Layout>
