---
import Layout from '../layouts/Layout.astro';
import IconOeil from '~icons/local/oeil'
import LoginForm from '../components/LoginForm';
---

<Layout title="Identification à l'OEIL" description="Connexion au site de l'OEIL, veuillez utiliser vos identifiants BIOME pour vous connecter. Vous connecter pourra vous permettre de payer des produits directement sur notre shop en ligne.">
	<main class="bg-black text-white h-full min-h-screen font-mono font-400 px-6">
    <div class="flex flex-col items-center">
      <IconOeil class="text-9xl sm:text-[240px] md:text-[320px]" />
      
      <div class="flex flex-col gap-1 sm:-mt-6 mb-12 text-center">
        <p class="text-xl font-700">
          $ oeil login
        </p>
        <p class="text-sm opacity-50">
          utilisez vos identifiants Biome
        </p>
      </div>

      <LoginForm client:only="solid-js" />

      <a href="/" class="text-white/75 mt-12 hover:underline hover:underline-offset-2">
        go_back.sh
      </a>
    </div>
  </main>
</Layout>