---
import Layout from '../layouts/Layout.astro';
import UserProfile from "../components/UserProfile";

import IconOeil from '~icons/local/oeil'
import IconOpenInNew from '~icons/mdi/open-in-new'
import IconMapMarker from '~icons/mdi/map-marker'
import IconInformation from '~icons/mdi/information'

import agenda from "../data/agenda.yml";

const events = agenda
  .map(event => ({
    ...event,
    date: new Date(event.date.split("/").reverse().join("-"))
  }))
  .sort((a, b) => a.date.getTime() - b.date.getTime())
  .filter(event => event.date > new Date());

const nextEvent = events.shift();
---

<Layout title="OEIL">
	<div class="bg-black h-[400px] z-0"
    style="clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)"
  >
    <nav class="h-24 flex items-center justify-between px-8">
      <div class="flex items-center gap-6">
        <a class="text-white">
          <IconOeil class="text-6xl" />
        </a>

        <a class="hidden md:block font-300 text-4 text-white/80 tracking-wide hover:text-white transition-colors" href="#agenda">
          Agenda
        </a>
        <a class="hidden md:block font-300 text-4 text-white/80 tracking-wide hover:text-white transition-colors" href="#presentation">
          Présentation
        </a>
        <a class="hidden md:block font-300 text-4 text-white/80 tracking-wide hover:text-white transition-colors" href="#partenaires">
          Partenaires
        </a>
        <a class="items-center gap-2 hidden md:flex font-300 text-4 text-white/80 tracking-wide hover:text-white transition-colors" href="/">
          Shop
          <IconOpenInNew />
        </a>
      </div>

      <UserProfile client:only />
    </nav>

    <div class="text-center mt-8 space-y-2 px-6">
      <h1 class="text-5xl sm:text-8xl md:text-9xl text-white tracking-[0.25em] font-800">
        L'OEIL
      </h1>
      <p class="text-white/80 font-300 tracking-wider">
        L'Organisation des Étudiants en Informatique de Limoges
      </p>
    </div>
  </div>

  <main class="px-6">
    <div class="relative -mt-16 z-10 bg-white max-w-[720px] w-full mx-auto border-4 border-black px-6 py-4">
      {nextEvent ? (
        <div class="flex items-center gap-2">
          <p class="uppercase font-600">
            Prochain Événement
          </p>
          <div class="h-1 w-1 bg-black rounded-full" />
          <p class="uppercase font-500">
            {nextEvent.date.toLocaleDateString("fr-FR")}
          </p>
        </div>
  
        <p class="mt-2 font-400">
          {nextEvent.description}
        </p>
  
        <div class="mt-6 flex items-center gap-2">
          <IconMapMarker class="text-xl" />
          {nextEvent['location-link'] ? (
            <a
              href={nextEvent['location-link']}
              class="font-400 text-black/80 hover:text-black hover:underline hover:underline-offset-2 transition-colors"
              rel="noopener noreferrer"
              target="_blank"
            >
              {nextEvent.location}
            </a>
          ) : (
            <p class="font-300">
              {nextEvent.location}
            </p>
          )}
        </div>
      ) : (
        <div class="flex flex-col items-center gap-2">
          <IconInformation class="text-xl" />
          <p>Aucun événement en cours, revenez plus tard !</p>
        </div>
      )}
    </div>
  </main>
</Layout>
