---
import Footer from "../components/Footer.astro";
import NavMenu from "../components/NavMenu";
import ShopItem from "../components/ShopItem.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Le SHOP de l'OEIL">
  <div class="h-[400px]">
    <div
      class="absolute top-0 right-0 left-0 bg-black h-[400px] -z-10"
      style="clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%)"
    />

    <NavMenu client:load />

    <div class="text-center mt-8 space-y-2 px-6 pt-24">
      <h1 data-scroll data-scroll-speed="0.1" class="text-5xl sm:text-8xl md:text-9xl text-white tracking-[0.25em] font-800 ml-6">
        SHOP
      </h1>
      <p data-scroll data-scroll-speed="0.15" class="text-white/80 font-300 tracking-wider">
        Le shop de l'OEIL vous propose des produits exclusifs et de qualité.
      </p>
    </div>
  </div>

  <section class="container mx-auto py-14 flex flex-col md:flex-row md:flex-wrap justify-center gap-8 px-8">
    <ShopItem
      price={10}
      identifier="1"
      name="Bracelet OG OEIL"
      imageName="bracelet.png"
      shortDescription="Un bracelet réalisé par l'OEIL de 2023-2024."
    />
    <ShopItem
      price={49.99}
      identifier="2"
      name="Sweats 2024"
      imageName="bracelet.png"
      shortDescription="Les fameux sweats de l'OEIL 2024-2025 - je rigole c'est faux."
    />
    <ShopItem
      price={9.99}
      identifier="1"
      name="Body pillow OEIL-Chan"
      imageName="bracelet.png"
      shortDescription="La plus belle initiative des étudiants de BUT2 - ou probablement la pire..."
    />
  </section>

  <p class="font-mono opacity-60 py-16 text-center px-8">
    et plus de produits arriveront dans le futur !
  </p>

  <Footer />
</Layout>