---
import IconMapMarker from '~icons/mdi/map-marker';
import { reWriteAgendaItem } from "../utils/data";

type Props = {
  item: AgendaItem,
  index: number
};

const item = reWriteAgendaItem(Astro.props.item)
---

<div class="pl-8 pb-10 relative"
  data-scroll-css-progress
  data-scroll-offset="10%, 10%"
  data-scroll
  style={{
    // make it go up
    translate: `0 calc(var(--progress, 0) * ${4 + (32 * Astro.props.index)}px)`,
    "--progress": 0
  }}
>
  <div class="flex-shrink-0 w-[12px] h-[12px] bg-black rounded-full absolute -left-[7px]" />

  <p class="text-xl font-500 pb-1 transform translate-y-[-8px]">
    {item.date.toLocaleDateString("fr-FR")}
  </p>

  <div class="border-4 border-black px-6 py-4">
    <p class="mt-2 font-400">
      {item.description}
    </p>

    <div class="mt-6 flex flex-col gap-1">
      {item.locations.map(location => (
        <div class="flex items-center gap-2">
          <IconMapMarker class="text-xl" />
          {location.link ? (
            <a
              href={location.link}
              class="font-400 text-black/80 hover:text-black hover:underline hover:underline-offset-2 transition-colors"
              rel="noopener noreferrer"
              target="_blank"
            >
              {location.label}
            </a>
          ) : (
            <p class="font-300">
              {location.label}
            </p>
          )}
        </div>
      ))}
    </div>
  </div>
</div>
