---
import "marqueee/style.css";
---

<div id="images-marquee" data-speed="40" data-space="24">
  <div class="marquee-slider-wrapper">
    <div class="marquee-slider-slides-wrapper items-center py-[25px]">
      <slot />
    </div>
  </div>
</div>

<script>
  import { initMarqueeeSlider } from "marqueee";

  initMarqueeeSlider("images-marquee", {
    stopOnHover:false,
    allowPointEvent: true,
    dir: 'left'
  });
</script>
