<div id="images-marquee">
  <div class="images-marquee-wrap flex gap-6 py-6">
    <slot />
  </div>
</div>

<script>
  import gsap from 'gsap';
  import Reeller from 'reeller';

  Reeller.registerGSAP(gsap);

  new Reeller({
    container: '#images-marquee',
    wrapper: '.images-marquee-wrap',
    itemSelector: '.images-marquee-item',
    speed: 24,
  });
</script>
