<div id="images-marquee" class="relative overflow-hidden">
  <div
    data-scroll-css-progress=""
    data-scroll
    class="inset-x-0 flex gap-6 py-6"
    style={{
      translate: `calc( 40% * var(--progress, 0) * -1 ) 0`,
      "--progress": 0
    }}
  >
    <slot />
  </div>
</div>